{% assign locale = include.locale | default: site.locale %}

<script src="{{ '/assets/js/vendor/jquery/jquery-3.7.1.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/smooth-scroll.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/jquery.greedy-navigation.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/jquery.magnific-popup.js' | relative_url }}"></script>

{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% include /comments-providers/scripts.html locale=locale %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
