---
layout: default
---

<div id="main" role="main">

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">

    <header>
      {% if page.title %}
      <h1 id="page-title" class="page__title p-name" itemprop="headline">
        {{ page.title }}
      </h1>
      {% endif %}
    </header>

    {% if page.author_profile %}
      {% include author-profile.html %}
    {% endif %}

    <section class="page__content e-content" itemprop="text">
      {{ content }}
    </section>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}

  </article>

</div>
